body {
    font-family: cursive;
    background-color: #ffffff;
    
     }
    header {
    background-color: rgb(106, 106, 221);
    color: #000000;
    padding:50px;
    text-align: center;
    
    }